# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Credenciales locales -- NUNCA se sube esto
flyway.conf
.env
*.env.local
application-local.yml
application-local.yaml

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store

# Logs
*.log
